<div class="row center">
    <div class="preloader-wrapper active" style="margin-top: 50px" ng-show="!showUser">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
        </div><div class="circle-clipper right">
            <div class="circle"></div>
        </div>
        </div>
    </div>
    <p class="white-text center" ng-show="userData.length == 0">{{userMessage}}</p>
    <ul class="collection left-align" ng-show="showUser">
        <li class="collection-item avatar" ng-repeat="word in userData">
            <span class="title teal-text lighten-2 ">{{word.word}}</span>
            <p>{{word.translation}}</p>
            <a href="" class="secondary-content" ng-click="addWord(word)"><i class="material-icons red-text">add</i></a>
        </li>
    </ul>
</div>
<script>
    $(document).ready(function() {
        $('.collapsible').collapsible();
        Materialize.updateTextFields();
        $('select').material_select();
        $('ul.tabs').tabs();
        $('.modal').modal();
    });
</script>