
<nav>
    <div class="nav-wrapper">
        <a href class="brand-logo right" ng-click="logout()">Logout</a>
        <ul id="nav-mobile" class="left">
            <li><a href="/#/">Home</a></li>
            <li><a href="/#/wall">Wall</a></li>
            <li><a href ng-click="openSearch()">Search</a></li>
        </ul>
    </div>
</nav>
<ng-view></ng-view>

<script>
    $(document).ready(function() {
        Materialize.updateTextFields();
        $('select').material_select();
        $('ul.tabs').tabs();
        $('.modal').modal();
    });
</script>