<form class="col s12" name="dateForm">
    <div class="row">
        <div class="input-field col s2">
            <input type="date" id="date_from" ng-model="date_from">
            <label for="date_from"></label>
        </div>
        <div class="input-field col s2">
            <input type="date" id="date_till" ng-model="date_till">
            <label for="date_till"></label>
        </div>
        <div class="row">
            <div class="input-field col s2">
                <button class="btn waves-effect waves-light" type="submit" ng-click="getWords(date_from, date_till)">Fetch</button>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col s6 m4 l3" ng-repeat="word in allWords">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">{{word.word}}</span>
                <p>{{word.translation}}</p>
            </div>
            <div class="card-action">
                <a ng-click="openEditWindow(word)" href>Edit</a>
                <a ng-click="deleteWord(word)" href>Delete</a>
            </div>
        </div>
    </div>
</div>
<div id="edit" class="modal">
    <div class="modal-content">
        <form action="" name="editForm">
            <div class="row">
                <div class="input-field">
                    <input id="word" type="text" class="validate" ng-model="edit.word" placeholder="">
                    <label for="word" class="active">{{edit.word_type}}</label>
                </div>
                <div class="input-field">
                    <input id="translation" type="text" class="validate" ng-model="edit.translation" placeholder="">
                    <label for="translation" class="active">{{edit.trans_type}}</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        <a class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="saveChanges(edit)">Save</a>
    </div>
</div>