<!DOCTYPE html>
<html ng-app="mainModule">
  <head>
    <meta charset="utf-8">
    <title>Words Repeat</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./css/materialize.min.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body ng-controller="mainCtrl">
    <div class="center" style="font-size:20px">
      <p>Words for this month <span class="green-text">{{allWords.length}}</span>/{{monthlyQuantity}}</p>
    </div>
    <div class="row" id="words">
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Add new word</span>
            <form name="addForm">
              <div class="row">
                <div class="input-field col s6">
                  <input id="english" type="text" class="validate" ng-model="english" required>
                  <label for="english">English</label>
                </div>
                <div class="input-field col s6">
                  <input id="translation" type="text" class="validate" ng-model="translation" required>
                  <label for="translation">translation</label>
                </div>
              </div>
              <div class="input-field">
                <a class="waves-effect waves-light btn" ng-disabled="addForm.$invalid" ng-click="addWord(english, translation)"><i class="material-icons right">add</i>Add</a>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card cyan darken-2">
          <div class="card-content white-text">
            <span class="card-title">My words</span>
            <table class="centered">
              <thead>
              <tr>
                <th data-field="id">English</th>
                <th data-field="name">Translation</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="word in allWords track by $index">
                <td>{{word.english}}</td>
                <td>{{word.translation}}</td>
                <td>
                  <i class="material-icons" ng-click="deleteWord(word)">delete</i>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/lib/materialize.min.js"></script>
  <script type="text/javascript" src="js/lib/angular.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
<script>
    $(document).ready(function() {
        Materialize.updateTextFields();
    });
</script>