<div>
    <div class="center" style="font-size:20px">
        <p>Words for this month <span class="green-text">{{allWords.length}}</span>/{{monthlyQuantity}}</p>
    </div>
    <div class="row" id="words">
        <div class="col s12 m6 ">
            <div class="col s12">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Add new word</span>
                        <form name="addForm">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="english" type="text" class="validate" ng-model="english" required>
                                    <label for="english">English</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="translation" type="text" class="validate" ng-model="translation" required>
                                    <label for="translation">translation</label>
                                </div>
                            </div>
                            <div class="input-field">
                                <a class="waves-effect waves-light btn" ng-disabled="addForm.$invalid" ng-click="addWord(english, translation)"><i class="material-icons right">add</i>Add</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="card teal darken-3">
                    <div class="card-content white-text">
                        <span class="card-title">Search a word</span>
                        <div class="row">
                            <p class="red-text lighten-2">{{message}}</p>
                            <div class="input-field col s10">
                                <input type="text" id="search" ng-model="word" ng-change="enableSearch(word)">
                                <label for=search>Search</label>
                            </div>
                            <div class="input-field col s2">
                                <a class="btn-floating btn-small waves-effect waves-light red" ng-click="searchWord(word)" ng-disabled="disableSearch">
                                    <i class="material-icons">search</i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div ng-if="searchData" class="white-text">
                        <div class="row">
                            <table class="centered">
                                <thead>
                                <tr>
                                    <th data-field="id">English</th>
                                    <th data-field="name">Translation</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="word in searchData | orderBy:'-time'">
                                    <td>{{word.english}}</td>
                                    <td>{{word.translation}}</td>
                                    <td>
                                        <a class="btn-floating btn-small waves-effect waves-light red" ng-click="deleteFromSearch(word)"><i class="material-icons">delete</i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="col s12">
                <div class="card cyan darken-2">
                    <div class="card-content white-text">
                        <span class="card-title">10 latest words</span>
                        <table class="centered">
                            <thead>
                            <tr>
                                <th data-field="id">English</th>
                                <th data-field="name">Translation</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="word in allWords | orderBy:'-time'">
                                <td>{{word.english}}</td>
                                <td>{{word.translation}}</td>
                                <td>
                                    <a class="btn-floating btn-small waves-effect waves-light red" ng-click="deleteWord(word)"><i class="material-icons">delete</i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        Materialize.updateTextFields();
        $('select').material_select();
        $('ul.tabs').tabs();
        $('.modal').modal();
    });
</script>