<div class="container">
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6"><a href="#login" class="active" >Login</a></li>
                <li class="tab col s6"><a href="#register">Register</a></li>
            </ul>
        </div>
        <div id="login" class="col s12">
            <div class="col s12 m6 offset-m3 login-panel">
                <div class="card white">
                    <div class="card-content">
                        <span class="card-title teal-text lighten-1">Login</span>
                        <div class="row">
                            <form class="col s12 grey-text" name="loginForm">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="username" type="email" class="validate" required name="username" ng-model="username">
                                        <label for="username">Username</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="password" type="password" class="validate" required="" name="password" ng-model="password">
                                        <label for="password">Password</label>
                                    </div>
                                </div>
                                <p class="red-text text-darken-2 ng-binding">{{message}}</p>
                                <div class="row">
                                    <div class="input-field col s10 m10 l6">
                                        <button class="btn waves-effect waves-light" type="submit" ng-click="login(username, password)" ng-disabled="loginForm.$invalid" disabled="disabled">Login
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="register" class="col s12">
            <div class="col s12 m6 offset-m3 login-panel">
                <div class="card white">
                    <div class="card-content">
                        <span class="card-title teal-text lighten-1">Register</span>
                        <div class="row">
                            <form class="col s12 grey-text" name="registerForm">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="username" type="email" class="validate" required name="username" ng-model="username">
                                        <label for="username">Username</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="password" type="password" class="validate" required="" name="password" ng-model="password">
                                        <label for="password">Password</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <select ng-model="language" required>
                                            <option value="" disabled selected>Choose language</option>
                                            <option value="1">English</option>
                                        </select>
                                        <label>Language</label>
                                    </div>
                                </div>
                                <p class="red-text text-darken-2">{{message}}</p>
                                <div class="row">
                                    <div class="input-field col s10 m10 l6">
                                        <button class="btn waves-effect waves-light" type="submit" ng-click="register(username, password, language)" ng-disabled="registerForm.$invalid" disabled="disabled">Register
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Congrats</h4>
                <p>You have been successfully registered</p>
                <p>Please login</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        Materialize.updateTextFields();
        $('select').material_select();
        $('ul.tabs').tabs();
        $('.modal').modal();
    });
</script>